<nav class="navbar navbar-expand-lg navbar-dark">
  <%= link_to root_path, class: 'navbar-brand no-underline' do %>
  <b class="LoanApptext">FinancialFortunes</b>
  <% end %>
  <% if user_signed_in? %>
    <span class="nav-link text-muted" style="color:white !important; font-size: 16px; float:left">Welcome, <%= current_user.email %></span>
  <% end %>

  <%= link_to loans_path, class: 'navbar-brand no-underline' do %>
    <% if !user_signed_in? %>
      
    <% end %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav" style="padding: 10px;">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <% if current_user.admin? %>
            <%= link_to 'Loans', loans_path, class: "btn btn-outline-light mr-2 nav-bar-btns", id: "update_users_btn" %>
            <%= link_to 'Update Users', users_path, class: "btn btn-outline-light mr-2 nav-bar-btns", id: "update_users_btn" %>    
          <% else %>
            <%= link_to 'Add Applications', new_loan_path, class: "btn btn-outline-light mr-2 nav-bar-btns", id: "add_applications_btn" %>
          <% end %>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-outline-light mr-2 nav-bar-btns", id: "sign_out_btn" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-outline-light mr-2 nav-bar-btns", id: "sign_up_btn" %>
          <%= link_to 'Log In', user_session_path, class: "btn btn-outline-light mr-2 nav-bar-btns", id: "log_in_btn" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
