<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Loan Application</title>
  <style>
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .loan-links {
      margin-top: 20px;
      text-align: center;
    }

    .loan-links a {
      margin: 5px;
    }

    .logo {
      max-width: 100px;
      margin-right: 15px;
    }
  </style>
</head>
<body>


<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center">Change your password</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

      <div class="mb-3">
        <%= f.label :password, "New password", class: "form-label" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, "Confirm new password", class: "form-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="text-center">
        <%= f.submit "Change my password", class: "btn btn-primary", style: "width: 100%;" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>


</body>
</html>