<body>
 
  <% if @loans.present? %>
     <h5> Loans </h5> <br>
    <table class="table">
      <!-- Table header code (unchanged) -->
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email Address</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Pincode</th>
          <th>Maritial Status</th>
          <th>Dependents</th>
          <th>Date Of Birth</th>
          <th>SSN</th>
          <th>Amount</th>
          <th>Purpose</th>
          <th>Profession</th>
          <th>Income</th>
          <th>Company Name</th>
          <th>Company Address</th>
          <th>Business Number</th>
          <th colspan="3">Action</th>
        </tr>
      </thead>
      <!-- Table body code -->
      <tbody>
        <% @loans.each do |loan| %>
          <tr>
            <!-- Row data (unchanged) -->
            <td><%= loan.name %></td>
            <td><%= loan.lastName %></td>
            <td><%= loan.email_address %></td>
            <td><%= loan.phonenumber %></td>
            <td><%= loan.Address %></td>
            <td><%= loan.city %></td>
            <td><%= loan.state %></td>
            <td><%= loan.pincode %></td>
            <td><%= loan.maritalstatus %></td>
            <td><%= loan.dependents %></td>
            <td><%= loan.dateOfBirth %></td>
            <td><%= loan.ssn %></td>
            <td><%= loan.purpose %></td>
            <td><%= loan.amount %></td>
            <td><%= loan.jobtitle %></td>
            <td><%= loan.income %></td>
            <td><%= loan.companyname %></td>
            <td><%= loan.companyaddress %></td>
            <td><%= loan.busiessNumber %></td>
            <!-- Action buttons (unchanged) -->
            <td>
              <%= link_to 'Show', loan_path(loan), class: 'btn btn-primary btn-action' %>
              <%= link_to 'Edit', edit_loan_path(loan), class: 'btn btn-warning btn-action' %><br><br>
              <%= button_to 'Delete', loan_path(loan), method: :delete, class: 'btn btn-danger btn-action' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="no-records">
      <h5> <center> Oops! No records found. </center> </h5>
      <p class="appealing-message"> <center> Looks like there are no loans to display at the moment. Don't worry, you can always add a new one! </center></p>
    </div>
  <% end %>
</body>
</html>
