

                 <h2> <center> Create a new Loan Application </center> </h2><br>

<style>

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px!important;
  }

  h1 {
    color: #333;
  }

.loan-form {
  max-width: 400px!important;
  margin: 0 auto!important;
}

.field {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}
</style>



<% if @loan.errors.any? %>
  <ul>
    <% @loan.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @loan, url: loans_path, class: 'loan-form', data: { remote: true }, method: 'post') do |form| %>

    <div class="field">
      <%= form.label :name, class: 'form-label' %><br>
      <%= form.text_field :name, class: "form-control", id: "name", placeholder: "jack" %>

    </div>
  
    <div class="field">
      <%= form.label :purpose, class: 'form-label' %><br>
      <%= form.select :purpose, options_for_select([
    ['Select', nil],  
    ['Medical Expenses', 'Medical Expenses'],
    ['Gold', 'Gold'],
    ['Education', 'Education'],
    ['Home', 'Home'],
    ['Vehicle', 'Vehicle']
    ]), {}, class: 'form-input' %>

    </div>
  
    <div class="field">
      <%= form.label :amount, class: 'form-label' %><br>
      <%= form.number_field :amount, class: "form-control", id: "amount", placeholder: "120000" %>

    </div>
  
    <div class="field">
      <%= form.label :ssn, class: 'form-label' %><br>
      <%= form.text_field :ssn,  class: "form-control", id: "ssn", placeholder: "xxx-xxx-xxx"%>
    </div>

    <div class="field">
      <%= form.label :Email, class: 'form-label' %><br>
      <%= form.text_field :email_address, type: "email", class: "form-control", id: "email_address", placeholder: "name@example.com" %>
    </div
  
    <div class="field">
    <%= form.label :Income, class: 'form-label' %><br>
    <%= form.text_field :income,  class: "form-control", id: "income", placeholder: "120,0000" %>
    </div>

    <div class="field">
    <%= form.label :status, class: 'form-label' %>
  
    <%= form.radio_button :status, 'active', class: 'form-radio' %>
    <%= form.label :status_active, class: 'radio-label' do %>
      Married 
    <% end %>
  
    <%= form.radio_button :status, 'inactive', class: 'form-radio' %>
    <%= form.label :status_inactive, class: 'radio-label' do %>
      Unmarried
    <% end %>
  </div>
  

    <div class="actions">
      <%= form.submit "Submit Loan Application", class: 'btn-dang' %>
    </div>
  
  <% end %>
